html {
    background: black;
    min-height: 100vh;
    padding: 0;

    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: larger;
}

.game-board {
    min-height: 92vh;
    padding: 6px;

    text-shadow: 5px 2px black;

    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 6px;
    grid-auto-rows: minmax(15%, auto);
}

.selected-question {
    min-height: 95vh;
    background: blue;
}

.question-and-answer-text {
    color: white;
    text-shadow: 5px 2px black;
    font-size: 5rem;
    padding: 1rem;
}

.close-button-container {
    display: flex;
}

.answer-button {
    background-color: black;
}

.answer-button:hover {
    background-color: gold;
    color: black;
}

.close-button {
    cursor: pointer;
    margin: .5rem 1rem .5rem auto;
    font-size: 1.5rem;
}

.square {
    background: blue;
}

.category {
    color: white;
    font-size: 2rem;
}

.wager {
    color: gold;
    cursor: pointer;
    font-size: 3rem;
}

.wager:hover {
    background: black;
}

.answered {
    background: blue;
}
